{% extends 'base.html.twig' %}

{% block title %}User Review{% endblock %}

{% block main %}
{% include "main/profile/_menu.html.twig" %}
    <h1>Review</h1>
    
    <a href="{{ path('review_add', {'slug': user.slug}) }}">Add</a>
    <hr>
    {% if app.request.get('_route') == 'review_add' %}
    {{ include('main/profile/review/_form.html.twig', {'button_label': 'Add', 'slug': user.slug}) }}
    {% endif %}
    {% for review in reviews %}
        {% if app.request.get('id') == review.id %}
        {{ include('main/profile/review/_form.html.twig', {'button_label': 'Update', 'slug': user.slug}) }}
            <hr>
            <hr>
        {% endif %}

        {% if app.request.get('id') != review.id %}
            {{ review.product.name }}
            <br>
            {{ review.title }}
            <br>
            {{ review.content }}
            <br>
            {{ review.rate }}
            <br>
            {{ review.user.firstName }} {{ review.user.lastName }}
            <br>
            {{ review.createdAt|date("d/F/Y") }}
            <br>
            <a href="{{ path('review_edit', {'slug': user.slug, 'id': review.id}) }}">edit</a>
            {{ include('main/profile/review/_delete_form.html.twig') }}
            <hr>
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
