{% extends 'base.html.twig' %}

{% set totalWeight = 0 %}

{% block title %}Panier{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if cartItems %}
    <ul>
        {% for cartItem in cartItems %}
        <li>
            <img src="{{ cartItem.product.images[0].name }}" alt="" />
            <br>
            {{cartItem.product.name}}
            <br>
            {{cartItem.quantity}}
            <br>
            {{ include('main/cart/_delete_form.html.twig') }}
        </li>
        
        {% endfor %}

        <button class="btn"><a href="{{ path('payment') }}">PAIEMENT</a></button>
    </ul>
    {% else %}
    Votre panier est vide!
    {% endif %}
</div>
{% endblock %}


