{% extends 'base.html.twig' %}

{% set totalWeight = 0 %}

{% block title %}Panier{% endblock %}

{% block main %}

<h1>MON PANIER<div class="c-underline c-underline--h11"></div>
    <div class="c-underline c-underline--h12"></div></h1>

    {% if cartItems %}
    <h2>Mes articles<div class="c-underline"></div></h2>
<div class="o-cart">
        {% for cartItem in cartItems %}
        <div class="o-cart__item">
            <div class="o-info__cart">
                <img src="{{ image_path }}{{ cartItem.product.images[0].name }}" alt="">

                <div> 
                    <h3>{{cartItem.product.price}} €</h3>
                    <p>{{cartItem.product.name}}</p>
                    <p>Quantité : {{ cartItem.quantity }}</p>
                     </div>
            </div>
            
            {{ include('main/cart/_delete_form.html.twig') }}
        </div>
        {% endfor %}

    </div>
    <div class="c-margin--bot">
        <h2>Informations de paiement<div class="c-underline"></div></h2>
        <div class="o-total">
            <div  class="o-total__item">
                <h3>Sous-total:</h3>
            </div>
            <div class="o-total__item">
                <h3>{{ shoppingSession.total }} €</h3>
            </div>
            
        </div>
        <button class="c-btn c-btn--no--margin"><a href="{{ path('payment') }}">Passer la commande</a></button>
        {# <img src="https://cdn.brandfolder.io/KGT2DTA4/at/rvgw5pc69nhv9wkh7rw8ckv/Powered_by_Stripe_-_blurple.svg" alt=""> #}
    </div>
    {% else %}
    Votre panier est vide!
    {% endif %}
{% endblock %}


