<header>
    <a href="{{ path('home') }}">Acceuil</a>
    <a href="{{ path('new_product') }}">Nouveaute</a>
    {% for category in categories %}
    <a href="{{ path('cat_product', {'slug' : category.slug}) }}">{{category.name}}</a>
    {% endfor %}
    <a href="#">A Propos</a>
    <a href="#">Contact</a>
    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('user_info', {'slug' : user.slug}) }}">profile</a>
    {% else %}
    <a href="{{ path('app_login') }}">Login</a>
    {% endif %}
</header>