{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block nav %}
<div class="o-nav__index">
    <div>
        <h2>Filtres par Catégories<div class="c-underline"></div></h2>
        <ul>
            <li>
                {% for category in categories %}
                <a href="{{ path('cat_product', {'slug' : category.slug}) }}">{{category.name}} </a>
                {% endfor %}
            </li>
        </ul>
    </div>
    <div class="c-double__range">
        <h2>Filtre par Prix<div class="c-underline"></div></h2>

        <div class="slider-track"></div>
        <input type="range" min="0" max="100" value="30" id="slider-1" oninput="slideOne()">
        <input type="range" min="0" max="100" value="70" id="slider-2" oninput="slideTwo()">
        <div class="values">
            <span id="range1">
                0 €
            </span>
            <span> &dash; </span>
            <span id="range2">
                100 €
            </span>
        </div>
    </div>
    <div>
        <h2>Filtre par Marques<div class="c-underline"></div></h2>
        <ul>
            <li>
                {% for brand in brands %}
                <a href="#" class="filterBrand">{{brand}}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>

<script>
    window.onload = function(){
        slideOne();
        slideTwo();
    }
    
    let sliderOne = document.getElementById("slider-1");
    let sliderTwo = document.getElementById("slider-2");
    let displayValOne = document.getElementById("range1");
    let displayValTwo = document.getElementById("range2");
    let minGap = 0;
    let sliderTrack = document.querySelector(".slider-track");
    let sliderMaxValue = document.getElementById("slider-1").max;
    
    

function slideOne(){
    if(parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap){
        sliderOne.value = parseInt(sliderTwo.value) - minGap;
    }
    displayValOne.textContent = sliderOne.value + ' €';
    fillColor();
}
function slideTwo(){
    if(parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap){
        sliderTwo.value = parseInt(sliderOne.value) + minGap;
    }
    displayValTwo.textContent = sliderTwo.value + ' €';
    fillColor();
}
function fillColor(){
    percent1 = (sliderOne.value / sliderMaxValue) * 100;
    percent2 = (sliderTwo.value / sliderMaxValue) * 100;
    sliderTrack.style.background = `linear-gradient(to right, #D3D3D3 ${percent1}% , #C67351 ${percent1}% , #C67351 ${percent2}%, #D3D3D3 ${percent2}%)`;
}
</script>
{% endblock %}

{% block main %}

<div class="o-index">
    <div class="o-index__header o-index__item">
        <h1>
            {% if  app.request.get('_route') == 'new_product' %}
            Les Nouveauté
            {% else %}
            {{category.name}}
            {% endif %}
            <div class="c-underline c-underline--h11"></div>
            <div class="c-underline c-underline--h12"></div>
    </h1>
        <p>
            {% if  app.request.get('_route') == 'new_product' %}
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, nesciunt veniam. Sint exercitationem iusto saepe minus temporibus. Assumenda, doloribus commodi! Sit odit blanditiis sapiente at eius laborum suscipit minus accusamus.
            Facere reprehenderit soluta consequatur sint laudantium minima distinctio dicta, ipsum dignissimos sapiente? Velit facilis, deserunt nemo est voluptas ratione ut, incidunt doloremque quas blanditiis, facere sit rerum temporibus quo a!
            Rem sint quo quisquam, voluptatum nihil voluptates dolore doloremque dolor officia consequuntur sit error sequi officiis corrupti molestias unde ipsa aspernatur hic. Dolore similique earum soluta a praesentium sit eum.
            {% else %}
            {{category.description}}
            {% endif %}</p>
    </div>
    
    <div class="o-index__sorting"></div>
    <div class="o-index__content o-index__item">
        {% for product in products %}
        
            <div class="o-card {{ product.brand }}" >

                    <div class="o-card__caption" style="background-image: url(..{{ image_path }}{{ product.images[0].name }});">
                        {% if product.new == true %}
                            <div class="o-card__new c-new">
                                <p>Nouveauté</p>
                            </div>
                            
                        {% endif %}
    
                        <div class= {% if product.new == true %}"o-card__icon--new"{% else %} "o-card__icon" {% endif %}>
                            {% if user %}
                            <a href="{{ path('favorite', {'productId' : product.id}) }}" class="js-fav">
                                {% if product.likedByUser(user) %}
                                <i class="c-icon fas fa-heart"></i>
                                {% else %}
                                <i class="c-icon far fa-heart"></i>
                                {% endif %}
                            </a>
                            {% else %}
                            <a href="{{ path('app_login') }}">
                                <i class="c-icon far fa-heart"></i>
                            </a>
                            {% endif %}    
                            <a href="" class="c-icon"><i class="c-icon fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <a href="{{ path('product_show', {'slug': product.slug}) }}">
                    <div class="o-card__description" >
                        {% if product.brand %}
                        <h6>{{ product.brand }}</h6>
                        {% endif %}

                        <p>{{ product.name }}</p>
                        <h5 id="hyt">{{ (product.price/100)|replace({'.': ','})}} €</h5>
                    </div>
                </a>
                    
                </div>

        {% endfor %}
    </div>
</div>
    

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('fav') }}
{{ encore_entry_script_tags('addToCart') }}
{{ encore_entry_script_tags('filterBrand') }}


{% endblock %}
