{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>SKU</th>
                <th>Price</th>
                <th>New</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <pre>
            {{ dump(product.images[0].name) }}
        </pre>
            <tr>
                <td><img src="{{ image_path }}{{ product.images[0].name }}" alt=""></td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.SKU }}</td>
                <td>{{ product.price / 100}} €</td>
                <td>{{ product.new ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('product_show', {'slug': product.slug}) }}">show</a>
                    <a class="addToCart" href="{{ path('cart_add', {'slug': product.slug}) }}">Ajouter au panier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>  
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('addToCart') }}

{% endblock %}
