{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>SKU</th>
                <td>{{ product.SKU }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>New</th>
                <td>{{ product.new ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>brand</th>
                <td>{{ product.brand }}</td>
            </tr>
            <tr>
                <th>disponibilite</th>
                <td>{% if product.inventory.quantity > 0 %}
                        OUI
                        {% else %}
                            NON
                    {% endif %}</td>
            </tr>
            <tr>
                <th>caracteristic</th>
                <tr>
                    {% for caracteristic in caracteristics %}
                        <th>{{caracteristic.name}}</th>
                        {% for caracteristicDetail in caracteristic.caracteristicDetail %}
                            <td>{{ caracteristicDetail.name }} <hr> {{ caracteristicDetail.info }}</td>
                        {% endfor %}
                    {% endfor %}

                </tr>
            </tr>

            <tr>
                {% for review in reviews %}
                <tr>
                <th>{{ review.title }}</th>
                <td>{{ review.rate }}</td>
                <td>{{ review.content }}</td>
                <td>{{ review.user.firstName }}</td>
                <td>{{ review.createdAt|date("d/F/Y") }}</td>
                </tr>
                {% endfor %}
            </tr>
            <tr>
                {% for randomProduct in randomProducts [:4] %}
                <td>name</td>
                    <th>{{ randomProduct.name }}</th>
                {% endfor %}
            </tr>

        </tbody>
    </table>

    <a href="{{ path('all_product') }}">back to list</a>

{% endblock %}
