{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>images</th>
                {% for image in product.images %}
                <td> <img src="{{ image.name }}" alt=""> </td>
                    
                {% endfor %}
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>SKU</th>
                <td>{{ product.SKU }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>New</th>
                <td>{{ product.new ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>brand</th>
                <td>{{ product.brand }}</td>
            </tr>
            <tr>
                <th>disponibilite</th>
                <td>{% if product.inventory.quantity > 0 %}
                        OUI
                        {% else %}
                            NON
                    {% endif %}</td>
            </tr>
            <tr>
                <th>caracteristic</th>
                <tr>
                    {% for caracteristic in caracteristics %}
                        <th>{{caracteristic.name}}</th>
                        {% for caracteristicDetail in caracteristic.caracteristicDetail %}
                            <td>{{ caracteristicDetail.name }} <hr> {{ caracteristicDetail.info }}</td>
                        {% endfor %}
                    {% endfor %}

                </tr>
            </tr>

            <a class="addToCart" href="{{ path('cart_add', {'slug': product.slug}) }}">Ajouter au panier</a>
            
            
            <tr>
                {% for review in reviews %}
                <tr>
                    <th>{{ review.title }}</th>
                    <td>{{ review.rate }}</td>
                    <td>{{ review.content }}</td>
                    <td>{{ review.user.firstName }}</td>
                    <td>{{ review.createdAt|date("d/F/Y") }}</td>
                </tr>
                {% endfor %}
            </tr>
            <tr>
                {% for randomProduct in randomProducts [:4] %}
                <td>name</td>
                <th>{{ randomProduct.name }}</th>
                {% endfor %}
            </tr>
            
        </tbody>
    </table>
    
    {% if user %}
    <a href="{{ path('favorite', {'productId' : product.id}) }}" class="js-fav">
        {% if product.likedByUser(user) %}
        <i class="fas fa-heart"></i>
        {% else %}
        <i class="far fa-heart"></i>
        {% endif %}
    </a>
    {% else %}
    <a href="{{ path('app_login') }}">
        <i class="far fa-heart"></i>
    </a>
    {% endif %}
    
    
    
    
    {% endblock %}
    
    {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('fav') }}
    {{ encore_entry_script_tags('addToCart') }}
    {% endblock %}
