{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block body %}

    {% include "main/_sub_header.html.twig" %}

        <div>
            <h1>{{ product.name }}</h1>

            {% if user %}
            <a href="{{ path('favorite', {'productId' : product.id}) }}" class="js-fav">
                {% if product.likedByUser(user) %}
                <i class="fas fa-heart"></i>
                {% else %}
                <i class="far fa-heart"></i>
                {% endif %}
            </a>
            {% else %}
            <a href="{{ path('app_login') }}">
                <i class="far fa-heart"></i>
            </a>
            {% endif %}

            <p>{{ product.brand }}</p>
            <h3>{{ product.price / 100 }} €</h3>
            <p>{{ product.description }}</p>
            <hr>
            <div>
                {% for caracteristic in caracteristics %}
                    <h5>{{caracteristic.name}} : </h5>
                    {% for caracteristicDetail in caracteristic.caracteristicDetail %}
                        {% if product in caracteristicDetail.products %}
                            <p>{{ caracteristicDetail.name }} <br> {{ caracteristicDetail.info }}</p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <h5>
                {% if product.quantity > 0 %}
                    OUI
                {% else %}
                    NON
                {% endif %}
            </h5>
            <a href="#" class="removeQuantity">-</a><p id="quantity">1</p><a href="#" class="addQuantity">+</a>
            <button>
                <a class="addToCart" href="{{ path('cart_add', {'slug': product.slug}) }}">Ajouter au panier</a>
            </button>
            <p>{{ product.SKU }}</p>
        </div>
        <div>
            {% for image in product.images %}
                <img src="{{ image_path }}{{ image.name }}" alt=""> 
            {% endfor %}
        </div>
        <div>
            <h1>Les Avis</h1>
            {% for review in reviews %}
                <h3>{{ review.title }}</h3>
                <h4>{{ review.rate }}</h4>
                <p>{{ review.content }}</p>
                <p> Par {{ review.user.firstName }} le {{ review.createdAt|date("d/F/Y") }}</p>
                
            {% endfor %}
        </div>
        <div>
            <h1>Cela peut aussi vous interesser</h1>
            {% for randomProduct in randomProducts [:4] %}
            {% if randomProduct != product %}
            {{ randomProduct.name }}
            {% endif %}
            {% endfor %}
        </div>

    {% endblock %}
    
    {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('fav') }}
    {{ encore_entry_script_tags('addToCart') }}
    {% endblock %}
