{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}

<form method="post">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="o-login">

        
        <div class="o-login__item">
            {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.firstName }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
            {% endif %}
            
            <h1 class="h3 mb-3 font-weight-normal">Se connecter<div class="c-underline c-underline--h11"></div>
                <div class="c-underline c-underline--h12"></div></h1>
                <p>Si vous avez un compte, connectez-vous avec votre adresse email.</p>
                <label for="inputEmail"><h3>Email</h3></label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control c-input" autocomplete="email" required autofocus>
                <label for="inputPassword"><h3>Password</h3></label>
                <input type="password" name="password" id="inputPassword" class="form-control c-input" autocomplete="current-password" required>
                
                <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
                >
                
                
                <!-- Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html -->
                <div class="o-login__actions">
                    <button class="c-btn c-btn--no--margin" type="submit">
                        <a href="">Connexion</a> 
                    </button>
                    <a>Mot de passe oublié ?</a>
                    <div class="">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se rappeler de moi
                        </label>
                    </div>
                    
                    
                </div>
                
            </div>    
                    
                <div class="c-vr c-vr--large"></div>
                
                <div class="o-login__item">
                    <h1 class="h3 mb-3 font-weight-normal">Nouveau Client<div class="c-underline c-underline--h11"></div><div class="c-underline c-underline--h12"></div></h1>

                    <p></p>En créant un compte sur notre boutique, vous pourrez passer vos commandes plus rapidement, enregistrer plusieurs adresses de livraison, consulter et suivre vos commandes, et plein d’autres choses encore.</p>
                    <button class="c-btn c-btn--no--margin">
                        <a href="{{ path('app_register') }}">S'inscrire</a>
                    </button>
                </div>
            </div>
        </form>
            {% endblock %}
            